<!--This partial contains About page contents 
File Name: about.js 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Feb-10-2021

-->
<!-- About Section--> 
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-self-center">
                <div class="d-flex flex-column align-items-center animated fadeIn">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src=" /Content/images/mypicture.jpg" alt="Lights" style="width:100%">
                        </div>
                    </div>
                    <p>
                        <form action="/resume">
                            <button type="submit" class="btn btn-primary btn-dark">
                                <i class="fas fa-download"></i>
                                Resume</button>
                        </form>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <h2 class="text-uppercase pt-5">
                    <span>Talking about myself</span>
                </h2>
                <hr>
                <div class="paragraph py-4 w-75 animated fadeIn">
                    <p class="para">
                        A web development engineer from Toronto, Canada who loves the internet sphere.
                        A whizz at website and UI Design. Always on the lookout for exciting projects to work on.
                        My specialty is full website design and development, turning wireframes into stunning, semantic
                        HTML & CSS.
                        My interests, however, extend beyond the web and I love machine learning and deep learning.
                    </p>
                    <p class="para">
                        When I'm not coding, I'm probably hanging out with my friends, or hiking or clicking photos.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 about-title text-center">
                        <h3><span>Things I Love</span></h3>
                        <ul id="menu">
                            <li><i class="fas fa-2x fa-biking"></i></li>
                            <li><i class="fab fa-2x fa-twitter"></i></li>
                            <li><i class="fas fa-2x fa-music"></i></li>
                            <li><i class="fas fa-2x fa-hiking"></i></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 about-title">
                        <h3><span>What I am Good At</span></h3>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span> ASP.NET
                                </div>
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>HTML
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span> CSS
                                </div>
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>Javascript
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>NodeJS
                                </div>
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>Angular JS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span> SQL
                                </div>
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>Python
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span> Java
                                </div>
                                <div class="col">
                                    <span style="color: green;">
                                        <i class="fa-li fa fa-plus"></i></span>C#
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>