<!-- This partial is used to render the projects section as cards.
All the elements are contained inside a section.
File Name: projects.ejs 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Feb-10-2021
   -->

<!-- Projects Section--> 
<section class="project-area">
    <div class="container">
        <h2 class="text-uppercase pt-5">
            <span>My Academic Projects</span>
        </h2>
        <hr>
            <div class="card-deck animated fadeIn">
                <div class="card bg-light">
                    <img src="/Content/images/cassava.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h6 class="card-title text-center">Cassava Leaf disease classification</h6>
                        <p >Kaggle Competition to classify leaves.</p>
                        <p style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div  class="text-center">
                            <a href="https://www.kaggle.com/c/cassava-leaf-disease-classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">

                    <div class="card-body ">
                        <img src="/Content/images/tweet.png" class="card-img-top" alt="...">
                        <h6 class="card-title text-center">NLP with Disaster Tweets</h6>
                        <p >Kaggle competition to classify if disasters tweets are real or fake. I am in top 20%.</p>
                        <p  style="font-style: italic; color: gray"> 
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/DisasterTweets"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/melanoma.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title text-center">Melanoma Image Classification</h6>
                        <p >Kaggle competition to identify Melanoma.</p>
                        <p style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/melanoma_Classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/yelp.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h6 class="card-title text-center">Toronto Yelp Reviews Analysis</h6>
                        <p >Data Analysis of business, reviews & User data and make better decisions.</p>
                        <p  style="font-style: italic; color: gray">
                            technologies: spark, mongodb, ML Flow
                        </p>
                        <div class="text-center"> 
                            <a href="https://github.com/vaishali-vcs/yelp_analysis_inSpark"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/wumpus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h class="card-title text-center">Wumpus World</h>
                        <p >Build an intelligent agent to play Wumpus World.</p>
                        <p style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/wumpusworld" class="btn btn-primary btn-dark">View
                                in github</a>
                        </div>
                    </div>
                </div>
            

        </div>
    </div>
</section>