<!-- This partial is used to render the projects section as cards.
All the elements are contained inside a section.
File Name: projects.ejs 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Feb-10-2021
   -->

<!-- Projects Section--> 
<section class="project-area">
    <div class="container">
        <h2 class="text-uppercase pt-5">
            <span>My Academic Projects</span>
        </h2>
        <hr>
        <div class="row">
            <div class="card-columns">
                <div class="card bg-light">
                    <img src="/Content/images/cassava.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Cassava Leaf disease classification</h5>
                        <p class="card-text"> Kaggle Competition to classify cassava image to 4 disease categories.</p>
                        <p class="card-text" style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://www.kaggle.com/c/cassava-leaf-disease-classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">

                    <div class="card-body ">
                        <img src="/Content/images/tweet.png" class="card-img-top" alt="...">
                        <h5 class="card-title text-center">NLP with Disaster Tweets</h5>
                        <p class="card-text">Kaggle competition to an NLP build ML model to classify if disasters tweets are real or fake. My work is in top 20 % of Leaderboard.</p>
                        <p class="card-text" style="font-style: italic; color: gray"> 
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/DisasterTweets"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/melanoma.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Melanoma Image Classification</h5>
                        <p class="card-text">Kaggle competition to build a model to automate diagnosis of Melanoma of akin lesions.</p>
                        <p class="card-text" style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/melanoma_Classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="shadow  card bg-light">
                    <img src="/Content/images/yelp.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Toronto Yelp Reviews Analysis</h5>
                        <span class="card-text">Data Analysis of Toronto's business, review and User data to identify any pattern. This will help business owners to make business decisions.</span>
                        <p class="card-text" style="font-style: italic; color: gray">
                            technologies: spark, mongodb, ML Flow
                        </p>
                        <div class="text-center"> 
                            <a href="https://github.com/vaishali-vcs/yelp_analysis_inSpark"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/wumpus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Wumpus World</h5>
                        <span>Build an Intelligent knowledge-based agent to play and win the Wumpus World game.</span>
                        <p class="card-text" style="font-style: italic; color: gray">
                            technologies: python, tensorflow
                        </p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/wumpusworld" class="btn btn-primary btn-dark">View
                                in github</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>