<!--This partial Error page contents 

File Name: error.js 
Name: Vaishali Siddeshwar
Student ID: 301172372
Date: Feb-10-2021
-->

 <!-- render a fixed header content. This has 
non-UI elements. This contains only <head> tags
<%- include partials/header.ejs %>

 <!-- render a fixed error message.--> 
<%- include partials/main_nav.ejs %>

    <div class="container">
      <h1>
        Something went wrong
      </h1> 
     
    </div>

<!-- render a copyright content for all requests.--> 
<%- include partials/bottom_nav.ejs %>

<!-- This contains non-UI elements. But closing of body and html tags.--> 
<%- include partials/header.ejs %>